
.typewriterText {
    margin-top: 15vw; /* Adjust as needed */


    overflow: hidden;
    text-align: center;
    color: white;
}

.typewriterText{
    font-size: 3vw;
}

.container h2{
    margin-bottom: 5%;
}